@import './fonts';
@import './reset';


@function pxToRem($px, $base: 16) {
    @return ($px / $base) * 1rem;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-360deg);
    }

    66% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.66);
    }

    100% {
        transform: scale(1);
    }

}

/* Базовые стили для контейнера */
.container {
    width: 100%;
    max-width: pxToRem(1280);
    margin-left: auto;
    margin-right: auto;
    padding-left: pxToRem(20);
    padding-right: pxToRem(20);
}



body {
    background-color: #000618;
    font-family: 'Roboto';
    line-height: 100%;
    color: #fff;
}


.btn {
    display: block;
    width: fit-content;
    font-size: pxToRem(18);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: pxToRem(23);
    padding: pxToRem(13) pxToRem(34);

    &.blue-btn {
        color: #FFF;
        background: linear-gradient(83deg, #00C3FD -13.99%, #0194FE 31.77%, #0284E2 73.27%);
        box-shadow: 0px pxToRem(6) pxToRem(30) 0px rgba(1, 70, 120, 0.50);
    }
}


.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: pxToRem(44);
    gap: pxToRem(20);
}


.header__logo {
    margin-right: auto;
    width: pxToRem(140);
    height: pxToRem(40);
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left center;
    }
}


.main-section__title {
    font-size: pxToRem(78);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: pxToRem(12);
}


.main-section__descr {
    font-size: pxToRem(25);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: pxToRem(600);
    margin-bottom: pxToRem(60);
}

.main-section-bnt {
    padding: pxToRem(19) pxToRem(34);
    border-radius: pxToRem(63);
}

.main-section__interactive {
    width: pxToRem(450);
    height: pxToRem(450);
    position: relative;
}

.interactive__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: pxToRem(295);
    height: pxToRem(295);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        animation: scale 10s linear infinite;
    }
}

.interactive__bg {
    width: 100%;
    height: 100%;
    animation: spin 80s linear infinite;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}




.main-section {
    padding-top: pxToRem(76);
    padding-bottom: pxToRem(120);
}

.bg-wrapper {
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url(../img/main-screen-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        z-index: -1;
        opacity: .7;
        pointer-events: none;
    }


}


.main-section__wrapper {
    display: flex;
    justify-content: space-between;
    gap: pxToRem(50);
    overflow: hidden;
}

.main-section__content {
    padding-top: pxToRem(46);
}


.section-title {
    font-size: pxToRem(38);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.center-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: pxToRem(18);
}

.section-descr {
    font-size: pxToRem(18);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: .6;

}


.step__image {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='159' height='147' viewBox='0 0 159 147' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M111.428 111.5L47.0052 111.5L14.7953 56L47.0052 0.499996L111.428 0.499999L143.638 56L111.428 111.5Z' fill='%23011E41' stroke='%230284E2'/%3e%3cpath d='M23.8334 56C23.8334 25.3482 48.6816 0.500003 79.3334 0.500007C109.985 0.500016 134.833 25.3482 134.833 56C134.833 86.6518 109.985 111.5 79.3334 111.5C48.6816 111.5 23.8334 86.6518 23.8334 56Z' fill='%230284E2' stroke='%23011E41'/%3e%3cpath d='M79.2162 122L79.2162 143' stroke='%230284E2'/%3e%3cpath d='M79.3334 126L79.3334 147' stroke='%230284E2'/%3e%3cpath d='M158.142 10.5L139.955 21' stroke='%230284E2'/%3e%3cpath d='M18.7113 20.9998L0.524771 10.4998' stroke='%230284E2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: pxToRem(157);
    height: pxToRem(147);
    margin-bottom: pxToRem(15);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: pxToRem(30);

    img {
        width: pxToRem(48);
        height: pxToRem(48);
        object-fit: contain;
    }

    position: relative;

    &::before {
        width: pxToRem(200);
        height: pxToRem(200);
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background-image: url(../img/step-shadow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: -1;
        border-radius: 50%;
        transform: translate(0%, -15%);
        transition: transform .3s ease-in-out;
    }


}

.list-secton,
.info-section {
    padding: pxToRem(50) 0;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: pxToRem(60) pxToRem(30);
    padding-top: pxToRem(60);
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - pxToRem(20));
    gap: pxToRem(14);

    &:hover {
        .step__image {
            &::before {
                transform: translate(-11%, -17%) scale(1.3);
            }
        }
    }
}

.step__title {
    text-align: center;
    font-size: pxToRem(24);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.step__descr {
    text-align: center;
    font-size: pxToRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: .6;
}

.info-section__wrapper {
    border-radius: pxToRem(15);
    background: #01112A;
    box-shadow: pxToRem(4) pxToRem(4) pxToRem(33) 0px rgba(0, 0, 0, 0.05);
    padding: pxToRem(83) pxToRem(100) pxToRem(83) pxToRem(67);
    display: flex;
    justify-content: space-between;
    gap: pxToRem(100);
    position: relative;
    overflow: hidden;
}

.info-section__img {
    position: absolute;
    left: 0;
    top: 50%;
    width: pxToRem(600);
    height: pxToRem(600);
    transform: translate(-35%, -50%);

    img {
        animation: spin 90s linear infinite;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.info-section__title {
    font-size: pxToRem(34);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    flex-shrink: 0;
}

.info-section__text {
    font-size: pxToRem(18);
    font-weight: 400;
    line-height: 140%;
}